---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Clave</title>
	</head>
	<body>
		<main>
			<h1>Clave</h1>
			<p>A DSL for writing music.</p>
			<a href="/docs/">Documentation</a>
		</main>
	</body>
</html>
